@use 'vars' as *;
@use 'predef' as *;

.contenido__bienvenida {
    @extend .flex-4;
}

.contenido__bienvenida--txt {
    padding: map-get($abs_lng, "10px") * 2;
    background-color: map-get($color, "rosa_02");
    width: map-get($per_cent, "100");

    h2 {
        font-weight: map-get($num_int, "100") * 6 + map-get($num_int, "50");
        text-align: map-get($pos, "ctr");
        margin-bottom: map-get($abs_lng, "5px") * 3;
    }

    p {
        text-align: map-get($pos, "jtf");
        font-size: map-get($rel_lng, "1.125");
    }
}

.contenido__bienvenida--vid {
    padding: map-get($abs_lng, "10px");
    background-color: map-get($color, "azul");
    width: map-get($per_cent, "100");

    div {
        height: map-get($abs_lng, "50px") * 9;
        @include yt-player ($vid_hgt: map-get($abs_lng, "50px") * 9);
    }
}

.contenido__desc {
    @extend .flex-3;
    margin: map-get($abs_lng, "10px") * 4 map-get($num_int, "0") map-get($abs_lng, "10px") * 2;
}

.contenido__desc--ciego,
.contenido__secciones--ciego {
    visibility: map-get($vis, "coll");
    width: map-get($abs_lng, "3px") * 117;
    height: map-get($abs_lng, "1px");
    padding: map-get($num_int, "0") !important;
    margin: map-get($num_int, "0");
}

.contenido__desc--box {
    @include col-3_edit($padd_ed: map-get($num_int, "0") map-get($num_int, "0") map-get($abs_lng, "10px") * 3);
    text-align: map-get($pos, "ctr");

    h3 {
        margin-bottom: map-get($abs_lng, "10px");

        a {
            font-family: $fam_02;
            color: map-get($color, "gris_02");
            font-size: map-get($rel_lng, "1.5");

            &:hover {
                color: map-get($color, "rosa");
            }
        }
    }

    p {
        padding: map-get($num_int, "0") map-get($abs_lng, "5px");
        font-size: map-get($rel_lng, "1.125");
        text-align: map-get($pos, "ctr");
        margin-bottom: map-get($abs_lng, "10px") * 2;
    }

    .contenido__desc--box--img {
        width: map-get($abs_lng, "3px") * 117;
        height: map-get($abs_lng, "10px") * 29;
        margin-bottom: map-get($abs_lng, "5px") * 3;
        overflow: map-get($vis, "no_vis");

        a {
            img {
                width: map-get($abs_lng, "3px") * 117;
                height: map-get($abs_lng, "10px") * 29;
                transition: map-get($times, "seg");
                cursor: $cursor;

                &:hover {
                    transition: map-get($times, "seg");
                    transform: scale(map-get($num_dec, "1.2"));
                }
            }
        }
    }

    .contenido__desc--box--btn {
        position: map-get($pos, "rel");
        width: map-get($abs_lng, "50px") * 3;
        padding: map-get($abs_lng, "7px") map-get($abs_lng, "5px");
        margin: map-get($num_int, "0") map-get($glob_kw, "auto");
        @include btn-fx_edit ($fnt_sz: map-get($rel_lng, "0.9"));
    }
}

#servicios,
#recursos {
    @extend .flex-7;
}

#servicios {
    .contenido__desc--box {
        @extend .col-3_2;

        h3 {
            margin-bottom: map-get($abs_lng, "10px");
            color: map-get($glob_kw, "inh");
            padding: map-get($num_int, "0") map-get($abs_lng, "25px");

            a {
                color: map-get($glob_kw, "inh");
                font-size: map-get($rel_lng, "1.40");
                font-weight: map-get($num_int, "100") * 5;

                &:hover {
                    color: map-get($glob_kw, "inh");
                }
            }
        }

        p {
            padding: map-get($num_int, "0") map-get($abs_lng, "25px");
            color: map-get($glob_kw, "inh");
            text-align: map-get($pos, "ctr");

            a {
                color: map-get($glob_kw, "inh");
                font-size: map-get($rel_lng, "1.125");

                &:hover {
                    color: map-get($glob_kw, "inh");
                }
            }
        }

        .contenido__desc--box--img {
            width: map-get($abs_lng, "100px") * 3 + 1;
            height: map-get($abs_lng, "50px") * 5 - 1;
            margin: map-get($abs_lng, "25px") map-get($abs_lng, "25px") map-get($abs_lng, "5px") * 3 map-get($abs_lng, "25px");
            overflow: map-get($vis, "no_vis");

            a {
                img {
                    width: map-get($abs_lng, "100px") * 3 + 1;
                    height: map-get($abs_lng, "50px") * 5 - 1;
                    transition: map-get($times, "seg");
                    cursor: $cursor;
                    border-radius: map-get($abs_lng, "10px");

                    &:hover {
                        border-radius: map-get($abs_lng, "10px");
                        transition: map-get($times, "seg");
                        transform: scale(map-get($num_dec, "1.2"));
                    }
                }
            }
        }
    }
}

#recursos {

    h2,
    h3 {
        width: map-get($per_cent, "100");
        min-width: map-get($abs_lng, "3px") * 117;
    }

    h2 {
        margin-left: map-get($abs_lng, "10px");
    }

    h3 {
        margin-left: map-get($abs_lng, "5px") * 3;
        margin-bottom: map-get($abs_lng, "5px") * 3;
        color: map-get($color, "gris_01");
        font-size: map-get($rel_lng, "1.40");
    }

    .contenido__desc--box {
        @extend .col-3_3;

        h4 {
            color: map-get($glob_kw, "inh");
            margin-bottom: map-get($num_int, "0");

            a {
                color: map-get($glob_kw, "inh");
                font-size: map-get($rel_lng, "1.30");
                font-weight: map-get($num_int, "100") * 5;

                &:hover {
                    color: map-get($glob_kw, "inh");
                }
            }
        }

        .contenido__desc--box--vid {
            border-radius: map-get($abs_lng, "10px");
            height: map-get($abs_lng, "50px") * 5 - 1;
            margin: map-get($num_int, "0") map-get($num_int, "0") map-get($abs_lng, "10px") map-get($num_int, "0");

            @include yt-player ($vid_hgt: map-get($abs_lng, "50px") * 5 - 1);
        }
    }
}

#sobremi,
#servicios_desc {
    @extend .flex-6;
    margin-bottom: map-get($abs_lng, "10px") * 3;
}

.contenido__desc--container {
    h2 {
        margin-bottom: map-get($abs_lng, "5px") * 3;
    }

    ul {

        li {
            font-size: map-get($rel_lng, "1.125");
            text-align: map-get($pos, "lft");
            margin-bottom: map-get($abs_lng, "5px") * 3;
            line-height: map-get($num_dec, "1.3");
            font-weight: map-get($glob_kw, "norm");
            font-family: $fam_02;
        }
    }
}

.contenido__desc--info {
    margin-bottom: map-get($abs_lng, "5px") * 3;

    h3 {
        margin: map-get($num_int, "0") map-get($num_int, "0") map-get($abs_lng, "5px") * 3 map-get($abs_lng, "5px") * 3;
        color: map-get($color, "gris_01");
    }

    h4 {
        color: map-get($color, "azul");
        font-size: map-get($rel_lng, "1.35");
        font-weight: map-get($num_int, "100") * 5;
    }

    p,
    article p {
        font-size: map-get($rel_lng, "1.125");
        text-align: map-get($pos, "lft");
        margin-bottom: map-get($abs_lng, "5px") * 3;
        line-height: map-get($num_dec, "1.3");
        font-weight: map-get($glob_kw, "norm");
        font-family: $fam_02;
    }

    article {
        margin-bottom: map-get($abs_lng, "25px");

        p {
            margin-left: map-get($abs_lng, "5px") * 3;
        }
    }

}

.contenido__desc--recs {
    background-color: map-get($color, "azul");
    padding: map-get($abs_lng, "10px");

    h3 {
        margin: map-get($num_int, "0") map-get($num_int, "0") map-get($abs_lng, "5px") * 3 map-get($num_int, "0");
        color: map-get($color, "blanco");
    }

    ul {
        list-style-image: url(../img/flecha-derecha-blanca.png);
        color: map-get($color, "blanco");
        margin: map-get($num_int, "0");
        padding: map-get($num_int, "0") map-get($num_int, "0") map-get($num_int, "0") map-get($abs_lng, "25px");

        li {
            font-size: map-get($rel_lng, "1.125");
            text-align: map-get($pos, "lft");
            margin-bottom: map-get($abs_lng, "5px") * 3;
            line-height: map-get($num_dec, "1.3");
            font-weight: map-get($glob_kw, "norm");
            font-family: $fam_02;

            i {
                font-size: map-get($rel_lng, "1.35");
                margin-right: map-get($abs_lng, "5px");
            }

            a {
                color: map-get($color, "gris_06");


                &:hover {
                    color: map-get($color, "rosa");
                    text-decoration: $udr_lne;
                }
            }
        }
    }
}

.contenido__desc--info,
.contenido__desc--recs {
    width: map-get($per_cent, "100");
    height: map-get($glob_kw, "auto");
}