@use '_vars' as *;

/* 0 - RUTEO - RESETEO - GLOBALES */

html,
:root {
    font-size: $font-size-root;
}

* {
    padding: map-get($num_int,"0");
    margin: map-get($num_int,"0");
    outline: map-get($num_int,"0");
    border: map-get($num_int,"0");
    font-style: map-get($glob_kw,"inh");
    font-weight: map-get($glob_kw,"inh");
    font-family: map-get($glob_kw,"inh");
    margin-block-start: map-get($num_int,"0");
    margin-block-end: map-get($num_int,"0");
    margin-inline-start: map-get($num_int,"0");
    margin-inline-end: map-get($num_int,"0");
}

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

a {
    text-decoration: map-get($glob_kw,"none") !important;
}

p {
    margin-block-start: map-get($num_int,"0");
    margin-block-end: map-get($num_int,"0");
    font-size: map-get($rel_lng,"0.875");
}

/* 1 - Estilos generales:
1-A - Fuentes (familias, colores, tamaños, grosores, decoraciones y otros estilos, alineaciones de texto) */

h1,
.header__principal--logo h1 a,
.footer__links--box h1,
.footer__links--box h2 {
    font-family: $fam_01;
}

h2,
h3,
h4,
h5,
a,
p,
.header__contactrow div ul li,
.header__contactrow div ul li a,
.header__principal--menu ul li,
.contenido__desc--box h3 a,
.contenido__desc--box--btn,
.footer__links--box ul,
.footer__links--box ul a,
.footer__links--box--ipt,
.footer__links--box--btn,
#footer__links--box--cont ul li,
#footer__links--box--cont ul li a {
    font-family: $fam_02;
}

p,
.header__principal--menu ul li a:hover,
.contenido__desc--box--btn:hover,
.footer__links--box--btn:hover {
    color: map-get($color,"negro");
}

.header__contactrow div ul li a:hover,
.header__contactrow div ul li span a i:hover,
.header__principal--logo h1 a:hover,
.header__principal--menu ul li {
    color: map-get($color,"gris_01");
}

h2,
h3,
.contenido__desc--box h3 a {
    color: map-get($color,"gris_02");
}

h5 {
    color: map-get($color,"gris_03");
}

.footer__links--box h1,
.footer__links--box h2,
.footer__links--box--redes a {
    color: map-get($color,"gris_04");
}

.footer__links--box p,
.footer__links--box ul a,
.footer__links--box--ipt,
#footer__links--box--cont ul li,
#footer__links--box--cont ul li a {
    color: map-get($color,"gris_05");
}

h4,
.header__contactrow div ul li,
.header__contactrow div ul li a,
.header__contactrow div ul li i,
.contenido__desc--box--btn,
.contenido__desc--recs h3,
.contenido__desc--recs h4,
.contenido__desc--recs p,
.footer__links--box--btn,
#footer__links--box--cont ul i {
    color: map-get($color,"blanco");
}

.header__principal--logo h1,
.header__principal--logo h1 a,
.header__principal--menu ul li a,
#enlace__menu__contactos__no,
.hamburguesa,
.cerrar,
.footer__links--box--redes a:hover,
.footer__links--box ul,
#footer__links--box--cont ul a:hover {
    color: map-get($color,"azul");
}

.contenido__desc--box h3 a:hover,
.footer__links--box ul a:hover {
    color: map-get($color,"rosa");
}

.contenido__desc--box p {
    font-size: map-get($rel_lng,"0.8");
}

h5,
.contenido__desc--box--btn {
    font-size: map-get($rel_lng,"0.9");
}

h4,
.header__contactrow div ul li,
.header__contactrow div ul li a,
.header__contactrow div ul li i,
.footer__links--box ul a,
.footer__links--box--ipt,
.footer__links--box--btn,
#footer__links--box--cont ul i,
#footer__links--box--cont ul li,
#footer__links--box--cont ul li a {
    font-size: map-get($rel_lng,"1");
}

#footer__links--box--sm ul li {
    font-size: map-get($rel_lng,"1.031");
}

.header__principal--menu ul li {
    font-size: map-get($rel_lng,"1.45");
}

h3,
.contenido__desc--box h3 a {
    font-size: map-get($rel_lng,"1.5");
}

.header__principal--logo h1 span,
.header__principal--logo h1 a span,
.footer__links--box h2 {
    font-size: map-get($rel_lng,"1.563");
}

h2 {
    font-size: map-get($rel_lng,"1.875");
}

.header__principal--logo h1,
.header__principal--logo h1 a {
    font-size: map-get($rel_lng,"2.5");
}

.footer__links--box h1 {
    font-size: map-get($rel_lng,"3");
}

.header__principal--menu ul li i {
    font-size: map-get($rel_lng,"3.5");
}

.footer__links--box--redes a {
    font-size: map-get($rel_lng,"4");
}

p,
h4,
h5,
.contenido__desc--box--btn,
.footer__links--box--btn {
    font-weight: map-get($glob_kw,"norm");
}

h2,
h3,
.header__principal--menu ul li,
.contenido__desc--box--btn:hover,
.footer__links--box--btn:hover {
    font-weight: map-get($num_int,"100") * 6;
}

.contenido__bienvenida--txt h2 {
    font-weight: map-get($num_int,"100") * 6 + map-get($num_int,"50");
}

.header__contactrow div ul li,
.header__contactrow div ul li a {
    font-weight: map-get($num_int,"100") * 5;
}

.footer__links--box ul a:hover {
    text-decoration: map-get($glob_kw,"none");
}

.header__principal--menu ul li {
    text-transform: $mayusc;
}

.footer__links--box h1 {
    line-height: map-get($num_int,"1");
}

.footer__links--box p {
    line-height: map-get($num_dec,"1.2");
}

.footer__links--box--ipt {
    font-style: $ital;
}

.header__principal--logo,
.footer__links {
    text-align: map-get($pos,"lft");
}

.header__contactrow,
.header__principal--menu ul li,
.cerrar,
.contenido__bienvenida--txt h2,
.contenido__desc--box,
.contenido__desc--box p,
.contenido__desc--box--btn,
.footer__links--box--ctr,
.footer__links--box--btn,
#footer__links--box--cont ul i,
.footer__autor {
    text-align: map-get($pos,"ctr");
}

.contenido__bienvenida--txt p,
.contenido__desc--info p,
.contenido__desc--serv p,
.footer__links--box p {
    text-align: map-get($pos,"jtf");
}

.header__contactrow div,
.header__contactrow div ul {
    text-align: map-get($pos,"rgt");
}

.header__contactrow div ul {
    padding-left: map-get($num_int,"0");
}

.header__contactrow div ul,
.footer__links--box h1,
.footer__links--box h2 {
    margin-bottom: map-get($num_int,"0");
}

.contenido__desc--box h3 {
    margin-bottom: map-get($abs_lng,"10px");
}

.contenido__bienvenida--txt h2 {
    margin-bottom: map-get($abs_lng,"5px") * 3;
}

.contenido__desc--box p {
    margin-bottom: map-get($abs_lng,"10px") * 2;
}

.footer__links--box p {
    margin-top: map-get($abs_lng,"5px");
}

/* 1-B Listas */

.footer__links--box ul {
    list-style-image: url(../img/flecha-derecha-blanca.png);
}

.header__contactrow div ul,
.header__principal--menu ul,
.footer__links--box--form ul,
#footer__links--box--cont ul {
    list-style: map-get($glob_kw,"none");
}

/* 1-C Colores de fondo */

.header__principal--menu ul {
    background-color: map-get($color,"gris_06");
}

.footer__autor {
    background-color: map-get($color,"negro");
}

.footer__links--box--ipt {
    background-color: map-get($color,"gris_01");
}

.footer__links {
    background-color: map-get($color,"gris_02");
}

.header__contactrow,
.contenido__bienvenida--vid,
.contenido__desc--box--btn,
.contenido__desc--recs,
.footer__links--box--btn {
    background-color: map-get($color,"azul");
}

.contenido__desc--box--btn:hover,
.footer__links--box--btn:hover {
    background-color: map-get($color,"rosa");
}

/* 1-D Bordes */

.contenido__desc--box--btn {
    border: map-get($abs_lng,"1px") $solid map-get($color,"gris_02");
}

.footer__links--box--ipt,
.footer__links--box--btn {
    border: map-get($abs_lng,"1px") $solid map-get($color,"gris_03");
}

/* 1-E Animaciones (Transiciones y transformaciones) */

.header__principal--menu ul,
.contenido__desc--box--btn,
.contenido__desc--box--btn:hover,
.footer__links--box--redes a,
.footer__links--box--redes a:hover,
.footer__links--box--btn,
.footer__links--box--btn:hover {
    transition: map-get($times,"m_seg");
}

.contenido__desc--box--img a img,
.contenido__desc--box--img a img:hover {
    transition: map-get($times,"seg");
}

.contenido__desc--box--img a img:hover {
    transform: scale(map-get($num_dec,"1.2"));
}

/* 1-F Misceláneos (Overflows, cursores, etc) */

.contenido__desc--box--img {
    overflow: map-get($vis,"no_vis");
}

.hamburguesa,
.cerrar,
.contenido__desc--box--img a img,
.contenido__desc--box--btn,
.footer__links--box--redes a,
.footer__links--box--btn {
    cursor: $cursor;
}

/* 1-G Herramientas de forzado de diseño:
Arreglo para la altura de línea del logo de la cabecera */ 

.header__principal--logo h1 span,
.header__principal--logo h1 a span {
    display: map-get($disp,"blk");
    margin-top: - map-get($abs_lng,"10px") + - map-get($abs_lng,"1px");
}

/* Herramientas para forzar el estilo y la funcionalidad del carousel de Bootstrap (manipular lo menos posible). */

.carousel-indicators {
    margin-bottom: map-get($abs_lng,"7px") !important;
}

.carousel-indicators button {
    background-color: map-get($color,"negro") !important;
    width: map-get($abs_lng,"3px") * 4 !important;
    height: map-get($abs_lng,"3px") * 4 !important;
    border-radius: map-get($per_cent,"100") !important;
    margin: map-get($num_int,"0") map-get($abs_lng,"7px") !important;
    border: map-get($abs_lng,"7px") !important;
    opacity: map-get($num_dec,"0.3") !important;
    transition: map-get($times,"m_seg") !important;
}

.carousel-indicators button.active {
    background-color: map-get($color,"azul") !important;
    opacity: map-get($num_dec,"0.5") !important;
    transition: map-get($times,"m_seg") !important;
}

.carousel-control-prev-icon {
    background-image: url(../img/arrow-left.svg) !important;
}

.carousel-control-next-icon {
    background-image: url(../img/arrow-right.svg) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: map-get($rel_lng,"2.5") !important;
    width: map-get($rel_lng,"2.5") !important;
}

.carousel-control-prev-icon,
.carousel-control-prev,
.carousel-control-next-icon,
.carousel-control-next {
    opacity: map-get($num_dec,"0.5") !important;
    transition: map-get($times,"m_seg") !important;
    visibility: map-get($vis,"no_vis") !important;
}

.carousel-control-prev-icon:hover,
.carousel-control-prev:hover,
.carousel-control-next-icon:hover,
.carousel-control-next:hover {
    opacity: map-get($num_dec,"0.7") !important;
}

/* Fin de las herramientas para forzar el estilo y la funcionalidad del carousel de Bootstrap.
*** Fin de estilos generales.***/