@use '_vars' as *;
@use '_predef' as *;

@media only screen and (max-height: map-get($hgt_res, "bkp_01")) {
    .header__principal--menu ul li {
        font-size: map-get($rel_lng, "1");
    }

    .header__principal--menu ul li i {
        font-size: map-get($rel_lng, "1.5");
    }

    .header__principal--menu ul li,
    #iconos-resp {
        padding-top: $vh_4;
    }
}

@media only screen and (min-height: map-get($hgt_res, "bkp_02")) and (max-height: map-get($hgt_res, "bkp_04")) {
    .header__principal--menu ul li {
        font-size: map-get($rel_lng, "1.25");
    }

    .header__principal--menu ul li i {
        font-size: map-get($rel_lng, "2.5");
    }

    .header__principal--menu ul li {
        padding-top: map-get($abs_lng, "10px") * 2;
    }

    #iconos-resp {
        padding-top: map-get($abs_lng, "25px");
    }

    .header__principal--menu ul {
        height: map-get($abs_lng, "100px") * 6;
    }
}

@media only screen and (max-height: map-get($hgt_res, "bkp_03")) {
    .header__principal--menu ul li span {
        margin: map-get($num_int, "0") map-get($abs_lng, "10px") map-get($abs_lng, "25px");
    }
}

@media only screen and (max-height: map-get($hgt_res, "bkp_05")) {
    .header__principal--menu ul {
        height: map-get($abs_lng, "100px") * 10;
    }
}

@media only screen and (min-width: map-get($brk_pts, "bp_01")) {

    .contenido__bienvenida--txt,
    .contenido__bienvenida--vid {
        width: map-get($per_cent, "50");
    }

}

@media only screen and (max-width: map-get($brk_pts, "bp_02")) {
    #footer__links--box--cont {
        display: map-get($glob_kw, "none");
    }
}

@media only screen and (min-width: map-get($brk_pts, "bp_03")) {
    .header__contactrow {
        display: map-get($disp, "blk");

        div {
            min-width: map-get($wth_res, "pst_tbl");
            width: map-get($per_cent, "10") * 8;
            margin: map-get($abs_lng, "0px") map-get($glob_kw, "auto");
        }
    }

    .header__contactrow div ul li {
        padding-left: map-get($abs_lng, "7px");
    }

    .header__principal {
        padding: map-get($abs_lng, "10px") map-get($num_int, "0");

    }

    .header__principal--container,
    .contenido__desc--container {
        min-width: map-get($wth_res, "pst_tbl");
    }

    .header__principal--logo {
        padding-top: map-get($num_int, "0");
        padding-bottom: map-get($abs_lng, "3px");
    }

    #check,
    .hamburguesa,
    .cerrar,
    #iconos-resp,
    #enlace__menu__contactos__no,
    .header__principal--menu ul li span {
        display: map-get($glob_kw, "none");
    }

    .header__principal--menu {
        padding-top: map-get($abs_lng, "3px") * 4;
    }

    .header__principal--menu ul {
        position: map-get($glob_kw, "ust");
        top: map-get($glob_kw, "auto");
        left: map-get($glob_kw, "auto");
        text-align: map-get($pos, "rgt");
        background: map-get($glob_kw, "none");
        height: map-get($glob_kw, "auto");
        padding-right: map-get($abs_lng, "5px");
    }

    .header__principal--menu ul li {
        text-transform: map-get($glob_kw, "none");
        display: map-get($disp, "blk_lin");
        padding: map-get($num_int, "0") map-get($num_int, "0") map-get($num_int, "0") map-get($abs_lng, "10px") * 2;
        font-weight: map-get($num_int, "100") * 5;
    }

    #enlace__menu__contactos {
        display: map-get($disp, "blk_lin");
    }

    .carousel-control-prev-icon,
    .carousel-control-prev,
    .carousel-control-next-icon,
    .carousel-control-next {
        visibility: map-get($vis, "vis") !important;
    }

    .carousel-indicators {
        margin-bottom: map-get($abs_lng, "10px") !important;
    }

    .carousel-indicators button {
        width: map-get($abs_lng, "5px") * 3 !important;
        height: map-get($abs_lng, "5px") * 3 !important;
        border: map-get($abs_lng, "10px") !important;
        margin: map-get($num_int, "0") map-get($abs_lng, "10px") !important;
    }

    .contenido__bienvenida--txt p {
        font-size: map-get($rel_lng, "1.25");
        line-height: map-get($num_dec, "1.3");
    }

    .contenido__desc--info p,
    .contenido__desc--serv p {
        font-size: map-get($rel_lng, "1");
        line-height: map-get($num_dec, "1.35");
    }

    // .contenido__desc--container {
    //     max-width: map-get($wth_res, "pst_tbl");
    // }

    .contenido__desc--info {
        width: map-get($per_cent, "3") * 22;
    }

    .contenido__desc--recs {
        width: map-get($per_cent, "3") * 11;
    }
}

@media only screen and (max-width:map-get($brk_pts, "bp_04")) {
    #footer__links--box--sm {
        display: map-get($glob_kw, "none");
    }
}

@media only screen and (min-width:map-get($brk_pts, "bp_05")) {
    .contenido__bienvenida--txt p {
        font-size: map-get($rel_lng, "1.25");
        line-height: map-get($num_dec, "1.35");
    }

    .ciego {
        display: map-get($glob_kw, "none");
    }

    .footer__links div:first-child {
        align-self:center;
    }

    .footer__links--box {
        
        h1,
        h2 {
            color: map-get($color, "gris_04");
            margin-bottom: map-get($num_int, "0");
        }

        h1 {
            font-size: map-get($rel_lng, "3.125");
            line-height: map-get($num_dec, "0.7");
        }

        h2 {
            font-family: $fam_01;
            font-size: map-get($rel_lng, "1.875");
        }
        
        p {
            padding-right: map-get($abs_lng, "10px");
        }
    
    }

    .footer__links--box--form ul {
        padding-right: map-get($abs_lng, "10px");
    }

    .footer__links--box--ipt {
        width: map-get($abs_lng, "10px") * 29 !important;
    }
}

@media only screen and (min-width:map-get($brk_pts, "bp_06")) {
    .contenido__bienvenida--txt p {
        font-size: map-get($rel_lng, "1.30");
        line-height: map-get($num_dec, "1.35");
    }
}

@media only screen and (min-width: map-get($wth_res, "dkp_01")) {
    .header__contactrow {
        display: map-get($disp, "flex");
        flex-flow: map-get($flow, "flow_02");
        justify-content: map-get($pos, "spe_eve");
    }

    .header__contactrow div {
        display: map-get($disp, "blk_lin");
        min-width: map-get($wth_res, "dkp_01");
        width: map-get($glob_kw, "auto");
        margin: map-get($num_int, "0");
        text-align: map-get($pos, "rgt");
    }

    .header__contactrow div ul {
        padding: map-get($num_int, "0") map-get($abs_lng, "10px") * 2;
    }

    .header__principal--container,
    .contenido__desc--container {
        min-width: map-get($wth_res, "dkp_01");
        // width: map-get($glob_kw, "auto");
    }

    .header__principal--logo {
        margin-left: map-get($abs_lng, "10px") * 2;
    }

    .header__principal--menu {
        margin-right: map-get($abs_lng, "10px") * 2;
    }

    .header__principal--logo h1,
    .header__principal--logo h1 a {
        font-size: map-get($rel_lng, "3.125");
    }

    .header__principal--logo h1 span,
    .header__principal--logo h1 a span {
        font-size: map-get($rel_lng, "1.875");
    }

    .contenido__bienvenida--txt p {
        font-size: map-get($rel_lng, "1.35");
        line-height: map-get($num_dec, "1.45");
    }
    
    // .contenido__desc--info p,
    // .contenido__desc--serv p {
    //     font-size: map-get($rel_lng, "1.125");
    // }
}

@media only screen and (min-width: map-get($wth_res, "dkp_02")) {
    .header__contactrow div ul {
        padding: map-get($num_int, "0");
    }

    .header__principal--logo {
        margin-left: map-get($num_int, "0");
    }

    .header__principal--menu {
        margin-right: map-get($num_int, "0");
    }

    .contenido__bienvenida--txt p {
        font-size: map-get($rel_lng, "1.35");
        line-height: map-get($num_dec, "1.45");
    }
}

@media only screen and (min-width: map-get($wth_res, "dkp_03")) {
    .contenido__bienvenida--txt p {
        font-size: map-get($rel_lng, "1.35");
        line-height: map-get($num_dec, "1.7");
    }
}